/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Account
import com.github.unknownnpc.masscaladon.generated.model.CreateAccountRequest
import com.github.unknownnpc.masscaladon.generated.model.CredentialAccount
import com.github.unknownnpc.masscaladon.generated.model.Error
import com.github.unknownnpc.masscaladon.generated.model.FamiliarFollowers
import com.github.unknownnpc.masscaladon.generated.model.FeaturedTag
import com.github.unknownnpc.masscaladon.generated.model.IdentityProof
import scala.collection.immutable.List
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PatchAccountsUpdateCredentialsRequest
import com.github.unknownnpc.masscaladon.generated.model.PostAccountFollowRequest
import com.github.unknownnpc.masscaladon.generated.model.PostAccountMuteRequest
import com.github.unknownnpc.masscaladon.generated.model.PostAccountNoteRequest
import com.github.unknownnpc.masscaladon.generated.model.Relationship
import com.github.unknownnpc.masscaladon.generated.model.Status
import com.github.unknownnpc.masscaladon.generated.model.Token
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object AccountsApi {

  /**
   * Creates a user and account records. Returns an account access token for the app that initiated the request. The app should save this token for later, and should wait for the user to confirm their account by clicking a link in their email inbox.  Version history:  2.7.0 - added\\ 3.0.0 - added `reason` parameter\\ 3.4.0 - added `details` to failure response\\ 4.4.0 - added `date_of_birth` parameter
   * 
   * Expected answers:
   *   code 200 : Token ([Token])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable entity)
   *   code 429 : Error (Rate limited)
   *   code 503 : Error (Unavailable)
   * 
   * @param createAccountRequest JSON request body parameters
   */
  def createAccount(createAccountRequest: CreateAccountRequest
): Request[Either[ResponseException[String, Exception], Token], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts")
      .contentType("application/json")
      .body(createAccountRequest)
      .response(asJson[Token])

  /**
   * View information about a profile.  Version history:  0.0.0 - added\\ 2.4.0 - returns 410 if account is suspended\\ 3.3.0 - returns an Account with `suspended: true` instead of 410
   * 
   * Expected answers:
   *   code 200 : Account ([Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getAccount(id: String
): Request[Either[ResponseException[String, Exception], Account], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/${id}")
      .contentType("application/json")
      .response(asJson[Account])

  /**
   * Accounts that the user is currently featuring on their profile.  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param limit Maximum number of results to return. Defaults to 40 accounts. Max 80 accounts.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getAccountEndorsements(id: String, limit: Option[Int] = None, maxId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/${id}/endorsements?limit=${ limit }&max_id=${ maxId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Tags featured by this account.  Version history:  3.3.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[FeaturedTag] (Array of [FeaturedTag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getAccountFeaturedTags(id: String
): Request[Either[ResponseException[String, Exception], Seq[FeaturedTag]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/${id}/featured_tags")
      .contentType("application/json")
      .response(asJson[Seq[FeaturedTag]])

  /**
   * Accounts which follow the given account, if network is not hidden by the account owner.  Version history:  0.0.0 - added\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now\\ 4.0.0 - no longer requires an app token + `read:accounts`
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param limit Maximum number of results to return. Defaults to 40 accounts. Max 80 accounts.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param minId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getAccountFollowers(id: String, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/${id}/followers?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Accounts which the given account is following, if network is not hidden by the account owner.  Version history:  0.0.0 - added\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now\\ 4.0.0 - no longer requires an app token + `read:accounts`
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param limit Maximum number of results to return. Defaults to 40 accounts. Max 80 accounts.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param minId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getAccountFollowing(id: String, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/${id}/following?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Version history:  2.8.0 - added\\ 3.5.0 - deprecated. now returns an empty array.
   * 
   * Expected answers:
   *   code 200 : Seq[IdentityProof] (Array of [IdentityProof])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getAccountIdentityProofs(id: String
): Request[Either[ResponseException[String, Exception], Seq[IdentityProof]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/${id}/identity_proofs")
      .contentType("application/json")
      .response(asJson[Seq[IdentityProof]])

  /**
   * User lists that you have added this account to.  Version history:  2.1.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[List[String]] (Array of [List])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getAccountLists(id: String
): Request[Either[ResponseException[String, Exception], Seq[List[String]]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/${id}/lists")
      .contentType("application/json")
      .response(asJson[Seq[List[String]]])

  /**
   * Quickly lookup a username to see if it is available, skipping WebFinger resolution.  Version history:  3.4.0 - added
   * 
   * Expected answers:
   *   code 200 : Account ([Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param acct The username or WebFinger address to lookup.
   */
  def getAccountLookup(acct: String
): Request[Either[ResponseException[String, Exception], Account], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/lookup?acct=${ acct }")
      .contentType("application/json")
      .response(asJson[Account])

  /**
   * Find out whether a given account is followed, blocked, muted, etc.  Version history:  0.0.0 - added\\ 4.3.0 - added `with_suspended` parameter 4.6.0 - added `muting_expires_at`
   * 
   * Expected answers:
   *   code 200 : Seq[Relationship] (Array of [Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id Check relationships for the provided account IDs.
   * @param withSuspended Whether relationships should be returned for suspended users, defaults to false.
   */
  def getAccountRelationships(id: Seq[String], withSuspended: Option[Boolean] = None
): Request[Either[ResponseException[String, Exception], Seq[Relationship]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/relationships?id=${ id }&with_suspended=${ withSuspended }")
      .contentType("application/json")
      .response(asJson[Seq[Relationship]])

  /**
   * Search for matching accounts by username or display name.  Version history:  0.0.0 - added\\ 2.8.0 - add `limit`, `offset` and `following`
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Service Unavailable)
   * 
   * @param `q` Search query for accounts.
   * @param following Limit the search to users you are following. Defaults to false.
   * @param limit Maximum number of results. Defaults to 40 accounts. Max 80 accounts.
   * @param offset Skip the first n results.
   * @param resolve Attempt WebFinger lookup. Defaults to false. Use this when `q` is an exact address.
   */
  def getAccountSearch(`q`: String, following: Option[Boolean] = None, limit: Option[Int] = None, offset: Option[Int] = None, resolve: Option[Boolean] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/search?q=${ `q` }&following=${ following }&limit=${ limit }&offset=${ offset }&resolve=${ resolve }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Statuses posted to the given account.  Version history:  0.0.0 - added\\ 1.4.2 - add `only_media` and `exclude_replies`\\ 1.6.0 - add `pinned`\\ 2.6.0 - add `min_id`\\ 2.7.0 - add `exclude_reblogs` and allow unauthed use\\ 2.8.0 - add `tagged` parameter\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param excludeReblogs Filter out boosts from the response.
   * @param excludeReplies Filter out statuses in reply to a different account.
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param onlyMedia Filter out statuses without attachments.
   * @param pinned Filter for pinned statuses only. Defaults to false, which includes all statuses. Pinned statuses do not receive special priority in the order of the returned results.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   * @param tagged Filter for statuses using a specific hashtag.
   */
  def getAccountStatuses(id: String, excludeReblogs: Option[Boolean] = None, excludeReplies: Option[Boolean] = None, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, onlyMedia: Option[Boolean] = None, pinned: Option[Boolean] = None, sinceId: Option[String] = None, tagged: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/${id}/statuses?exclude_reblogs=${ excludeReblogs }&exclude_replies=${ excludeReplies }&limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&only_media=${ onlyMedia }&pinned=${ pinned }&since_id=${ sinceId }&tagged=${ tagged }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * View information about multiple profiles.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id The IDs of the accounts.
   */
  def getAccounts(id: Seq[String]
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts?id=${ id }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Obtain a list of all accounts that follow a given account, filtered for accounts you follow.  Version history:  3.5.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[FamiliarFollowers] (Array of [FamiliarFollowers])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id Find familiar followers for the provided account IDs.
   */
  def getAccountsFamiliarFollowers(id: Seq[String]
): Request[Either[ResponseException[String, Exception], Seq[FamiliarFollowers]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/familiar_followers?id=${ id }")
      .contentType("application/json")
      .response(asJson[Seq[FamiliarFollowers]])

  /**
   * Test to make sure that the user token works.  Version history:  0.0.0 - added\\ 4.3.0 - added `profile` scope
   * 
   * Expected answers:
   *   code 200 : CredentialAccount ([CredentialAccount])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getAccountsVerifyCredentials(
): Request[Either[ResponseException[String, Exception], CredentialAccount], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/accounts/verify_credentials")
      .contentType("application/json")
      .response(asJson[CredentialAccount])

  /**
   * Update the user's display and preferences.  Version history:  1.1.1 - added\\ 2.3.0 - added `locked` parameter\\ 2.4.0 - added `source[privacy,sensitive]` parameters\\ 2.4.2 - added `source[language]` parameter\\ 2.7.0 - added `discoverable` parameter\\ 4.1.0 - added `hide_collections` parameter\\ 4.2.0 - added `indexable` parameter\\ 4.4.0 (`mastodon` [API version] 3) - added `attribution_domains` parameter\\ 4.5.0 (`mastodon` [API version] 7) - added `quote_policy` parameter
   * 
   * Expected answers:
   *   code 200 : CredentialAccount ([CredentialAccount])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param patchAccountsUpdateCredentialsRequest JSON request body parameters
   */
  def patchAccountsUpdateCredentials(patchAccountsUpdateCredentialsRequest: Option[PatchAccountsUpdateCredentialsRequest] = None
): Request[Either[ResponseException[String, Exception], CredentialAccount], Any] =
    basicRequest
      .method(Method.PATCH, uri"/api/v1/accounts/update_credentials")
      .contentType("application/json")
      .bodyOpt(patchAccountsUpdateCredentialsRequest)
      .response(asJson[CredentialAccount])

  /**
   * [Blocks]({{< relref \"user/moderating#block\">}}) the given account.  Version history:  0.0.0 - added\\ 3.5.0 - deprecated `follow` scope. now additionally accepts `write`
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountBlock(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/block")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Add the given account to the user's featured profiles.  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 500 : Error (Server error)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountEndorse(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/endorse")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Follow the given account. Can also be used to update whether to show reblogs or enable notifications.  Version history:  0.0.0 - added\\ 3.3.0 - added `notify`\\ 3.5.0 - deprecated `follow` scope. now additionally accepts `write`\\ 4.0.0 - added `languages`
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param postAccountFollowRequest JSON request body parameters
   */
  def postAccountFollow(id: String, postAccountFollowRequest: Option[PostAccountFollowRequest] = None
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/follow")
      .contentType("application/json")
      .bodyOpt(postAccountFollowRequest)
      .response(asJson[Relationship])

  /**
   * Mute the given account. Clients should filter statuses and notifications from this account, if received (e.g. due to a boost in the Home timeline).  Version history:  0.0.0 - added\\ 3.3.0 - added `duration`\\ 3.5.0 - deprecated `follow` scope. now additionally accepts `write`
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param postAccountMuteRequest JSON request body parameters
   */
  def postAccountMute(id: String, postAccountMuteRequest: Option[PostAccountMuteRequest] = None
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/mute")
      .contentType("application/json")
      .bodyOpt(postAccountMuteRequest)
      .response(asJson[Relationship])

  /**
   * Sets a private note on a user.  Version history:  3.2.0 - added
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param postAccountNoteRequest JSON request body parameters
   */
  def postAccountNote(id: String, postAccountNoteRequest: Option[PostAccountNoteRequest] = None
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/note")
      .contentType("application/json")
      .bodyOpt(postAccountNoteRequest)
      .response(asJson[Relationship])

  /**
   * Add the given account to the user's featured profiles. (Featured profiles are currently shown on the user's own public profile.)  Version history:  2.5.0 - added\\ 4.0.0 - calling this method is now idempotent\\ 4.4.0 - deprecated in favor of `/api/v1/accounts/:id/endorse`
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 500 : Error (Server error)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountPin(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/pin")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Remove the given account from your followers.  Version history:  3.5.0 - added
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountRemoveFromFollowers(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/remove_from_followers")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Unblock the given account.  Version history:  0.0.0 - added\\ 3.5.0 - deprecated `follow` scope. now additionally accepts `write`
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountUnblock(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/unblock")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Remove the given account from the user's featured profiles.  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountUnendorse(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/unendorse")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Unfollow the given account.  Version history:  0.0.0 - added\\ 3.5.0 - deprecated `follow` scope. now additionally accepts `write`
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountUnfollow(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/unfollow")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Unmute the given account.  Version history:  0.0.0 - added\\ 3.5.0 - deprecated `follow` scope. now additionally accepts `write`
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountUnmute(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/unmute")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Remove the given account from the user's featured profiles.  Version history:  2.5.0 - added\\ 4.4.0 - deprecated in favor of `/api/v1/accounts/:id/unendorse`
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postAccountUnpin(id: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/accounts/${id}/unpin")
      .contentType("application/json")
      .response(asJson[Relationship])

}
