/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object AnnualReportsApi {

  /**
   * Returns the state of the annual report for the current user and given year.  Version history:  4.6.0 (`mastodon` [API version] 8) - added
   * 
   * Expected answers:
   *   code 200 :  (Hash with a single `state` key with a value of String (Enumerable, oneOf `available`, `generating`, `eligible`, or `ineligible`))
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param year year parameter
   */
  def getAnnualReportState(year: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/annual_reports/${year}/state")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns all of the current user's generated annual reports, if any.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 :  ([WrappedAnnualReports])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getAnnualReports(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/annual_reports")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns the current user's generated annual report for the given year, if it exists.  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 :  ([WrappedAnnualReports])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param year year parameter
   */
  def getAnnualReportsByYear(year: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/annual_reports/${year}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Generate the user's annual report for the specified year.  Version history:  4.6.0 (`mastodon` [API version] 8) - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 202 :  (Accepted)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param year year parameter
   */
  def postAnnualReportGenerate(year: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/annual_reports/${year}/generate")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Marks the user's generated annual report for the given year as read.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param year year parameter
   */
  def postAnnualReportRead(year: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/annual_reports/${year}/read")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

}
