/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Application
import com.github.unknownnpc.masscaladon.generated.model.CreateAppRequest
import com.github.unknownnpc.masscaladon.generated.model.CredentialApplication
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object AppsApi {

  /**
   * Create a new application to obtain OAuth2 credentials.  Version history:  0.0.0 - added\\ 2.7.2 - now returns `vapid_key`\\ 4.3.0 - deprecated `vapid_key`, please see [api/v2/instance]\\ 4.3.0 - added support for multiple `redirect_uris` in Form data parameters\\ 4.3.0 - added `redirect_uris` response property\\ 4.3.0 - deprecated `redirect_uri` response property, since this can be a non-URI if multiple `redirect_uris` are registered, use `redirect_uris` instead\\ 4.3.0 - changed entity type from [Application] to [CredentialApplication]\\ 4.4.0 - added `client_secret_expires_at`
   * 
   * Expected answers:
   *   code 200 : CredentialApplication ([CredentialApplication])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createAppRequest JSON request body parameters
   */
  def createApp(createAppRequest: CreateAppRequest
): Request[Either[ResponseException[String, Exception], CredentialApplication], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/apps")
      .contentType("application/json")
      .body(createAppRequest)
      .response(asJson[CredentialApplication])

  /**
   * Confirm that the app's OAuth2 credentials work.  Version history:  2.0.0 - added\\ 2.7.2 - now returns `vapid_key`\\ 4.3.0 - deprecated `vapid_key`, please see [api/v2/instance]\\ 4.3.0 - removed needing `read` scope to access this API, now any valid App token can be used\\ 4.3.0 - added `scopes` and `redirect_uris` properties
   * 
   * Expected answers:
   *   code 200 : Application ([Application])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getAppsVerifyCredentials(
): Request[Either[ResponseException[String, Exception], Application], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/apps/verify_credentials")
      .contentType("application/json")
      .response(asJson[Application])

}
