/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.CollectionWithAccounts
import com.github.unknownnpc.masscaladon.generated.model.CreateCollectionRequest
import com.github.unknownnpc.masscaladon.generated.model.CustomError422
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PostCollectionItemsRequest
import com.github.unknownnpc.masscaladon.generated.model.UpdateCollectionRequest
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object CollectionsApi {

  /**
   * Create a new Collection.  Version history:  4.6.0 (`mastodon` [API version] 10) - added
   * 
   * Expected answers:
   *   code 200 :  ([WrappedCollection])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : CustomError422 (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createCollectionRequest JSON request body parameters
   */
  def createCollection(createCollectionRequest: CreateCollectionRequest
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/collections")
      .contentType("application/json")
      .body(createCollectionRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Delete a Collection.  Version history:  4.6.0 (`mastodon` [API version] 10) - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteCollection(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/collections/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Remove an account from a Collection.  Version history:  4.6.0 (`mastodon` [API version] 10) - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param collectionId collection_id parameter
   * @param id id parameter
   */
  def deleteCollectionItem(collectionId: String, id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/collections/${collectionId}/items/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Version history:  4.6.0 (`mastodon` [API version] 10) - added
   * 
   * Expected answers:
   *   code 200 : CollectionWithAccounts ([CollectionWithAccounts])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getCollection(id: String
): Request[Either[ResponseException[String, Exception], CollectionWithAccounts], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/collections/${id}")
      .contentType("application/json")
      .response(asJson[CollectionWithAccounts])

  /**
   * Add an account to a Collection.  Version history:  4.6.0 (`mastodon` [API version] 10) - added
   * 
   * Expected answers:
   *   code 200 :  ([WrappedCollectionItem])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param collectionId collection_id parameter
   * @param postCollectionItemsRequest JSON request body parameters
   */
  def postCollectionItems(collectionId: String, postCollectionItemsRequest: Option[PostCollectionItemsRequest] = None
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/collections/${collectionId}/items")
      .contentType("application/json")
      .bodyOpt(postCollectionItemsRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Remove the current user from a Collection created by a different user.  Version history:  4.6.0 (`mastodon` [API version] 10) - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param collectionId collection_id parameter
   * @param id id parameter
   */
  def postCollectionsByCollectionIdItemsByIdRevoke(collectionId: String, id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/collections/${collectionId}/items/${id}/revoke")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Update an existing Collection.  Version history:  4.6.0 (`mastodon` [API version] 10) - added
   * 
   * Expected answers:
   *   code 200 :  ([WrappedCollection])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : CustomError422 (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param updateCollectionRequest JSON request body parameters
   */
  def updateCollection(id: String, updateCollectionRequest: Option[UpdateCollectionRequest] = None
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.PATCH, uri"/api/v1/collections/${id}")
      .contentType("application/json")
      .bodyOpt(updateCollectionRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

}
