/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Conversation
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object ConversationsApi {

  /**
   * Removes a conversation from your list of conversations.  Version history:  2.6.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteConversation(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/conversations/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Version history:  2.6.0 - added\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now
   * 
   * Expected answers:
   *   code 200 : Seq[Conversation] (Array of [Conversation])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 20 conversations. Max 40 conversations.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param minId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getConversations(limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Conversation]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/conversations?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Conversation]])

  /**
   * Version history:  2.6.0 - added
   * 
   * Expected answers:
   *   code 200 : Conversation ([Conversation])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postConversationRead(id: String
): Request[Either[ResponseException[String, Exception], Conversation], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/conversations/${id}/read")
      .contentType("application/json")
      .response(asJson[Conversation])

}
