/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Account
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object DirectoryApi {

  /**
   * List accounts visible in the directory.  Version history:  3.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit How many accounts to load. Defaults to 40 accounts. Max 80 accounts.
   * @param local If true, returns only local accounts.
   * @param offset Skip the first n results.
   * @param order Use `active` to sort by most recently posted statuses (default) or `new` to sort by most recently created profiles.
   */
  def getDirectory(limit: Option[Int] = None, local: Option[Boolean] = None, offset: Option[Int] = None, order: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/directory?limit=${ limit }&local=${ local }&offset=${ offset }&order=${ order }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

}
