/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.CreateDomainBlockRequest
import com.github.unknownnpc.masscaladon.generated.model.DeleteDomainBlocksRequest
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object DomainBlocksApi {

  /**
   * Block a domain to change interactions with that domain's server:
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createDomainBlockRequest JSON request body parameters
   */
  def createDomainBlock(createDomainBlockRequest: CreateDomainBlockRequest
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/domain_blocks")
      .contentType("application/json")
      .body(createDomainBlockRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Remove a domain block, if it exists in the user's array of blocked domains.  Version history:  1.4.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param deleteDomainBlocksRequest JSON request body parameters
   */
  def deleteDomainBlocks(deleteDomainBlocksRequest: DeleteDomainBlocksRequest
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/domain_blocks")
      .contentType("application/json")
      .body(deleteDomainBlocksRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * View domains the user has blocked.
   * 
   * Expected answers:
   *   code 200 : Seq[String] (Array of String)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 100 domain blocks. Max 200 domain blocks.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param minId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getDomainBlocks(limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[String]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/domain_blocks?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[String]])

}
