/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.CreateFeaturedTagRequest
import com.github.unknownnpc.masscaladon.generated.model.Error
import com.github.unknownnpc.masscaladon.generated.model.FeaturedTag
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.Tag
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object FeaturedTagsApi {

  /**
   * Promote a hashtag on your profile.  Version history:  3.0.0 - added
   * 
   * Expected answers:
   *   code 200 : FeaturedTag ([FeaturedTag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createFeaturedTagRequest JSON request body parameters
   */
  def createFeaturedTag(createFeaturedTagRequest: CreateFeaturedTagRequest
): Request[Either[ResponseException[String, Exception], FeaturedTag], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/featured_tags")
      .contentType("application/json")
      .body(createFeaturedTagRequest)
      .response(asJson[FeaturedTag])

  /**
   * Stop promoting a hashtag on your profile.  Version history:  3.0.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteFeaturedTag(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/featured_tags/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Shows up to 10 recently-used tags.  Version history:  3.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Tag] (Array of [Tag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getFeaturedTagSuggestions(
): Request[Either[ResponseException[String, Exception], Seq[Tag]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/featured_tags/suggestions")
      .contentType("application/json")
      .response(asJson[Seq[Tag]])

  /**
   * List all hashtags featured on your profile.  Version history:  3.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[FeaturedTag] (Array of [FeaturedTag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getFeaturedTags(
): Request[Either[ResponseException[String, Exception], Seq[FeaturedTag]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/featured_tags")
      .contentType("application/json")
      .response(asJson[Seq[FeaturedTag]])

}
