/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.CreateFilterRequest
import com.github.unknownnpc.masscaladon.generated.model.CreateFilterV2Request
import com.github.unknownnpc.masscaladon.generated.model.Error
import com.github.unknownnpc.masscaladon.generated.model.Filter
import com.github.unknownnpc.masscaladon.generated.model.FilterKeyword
import com.github.unknownnpc.masscaladon.generated.model.FilterStatus
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PostFilterKeywordsV2Request
import com.github.unknownnpc.masscaladon.generated.model.PostFilterStatusesV2Request
import com.github.unknownnpc.masscaladon.generated.model.UpdateFilterRequest
import com.github.unknownnpc.masscaladon.generated.model.UpdateFilterV2Request
import com.github.unknownnpc.masscaladon.generated.model.V1Filter
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object FiltersApi {

  /**
   * Version history:  2.4.3 - added\\ 3.1.0 - added `account` context to filter in profile views\\ 4.0.0 - deprecated. For compatibility purposes, now returns a V1::Filter representing one FilterKeyword (with the `keyword` being presented in the `phrase` attribute). This method will create a Filter that contains only one FilterKeyword. The `title` of the Filter and the `keyword` of the FilterKeyword will be set equal to the `phrase` provided.
   * 
   * Expected answers:
   *   code 200 : V1Filter ([V1::Filter])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createFilterRequest JSON request body parameters
   */
  def createFilter(createFilterRequest: CreateFilterRequest
): Request[Either[ResponseException[String, Exception], V1Filter], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/filters")
      .contentType("application/json")
      .body(createFilterRequest)
      .response(asJson[V1Filter])

  /**
   * Create a filter group with the given parameters.  Version history:  4.0.0 - added\\ 4.4.0 (`mastodon` [API version] 5) - added `blur` value to `filter_action` attribute
   * 
   * Expected answers:
   *   code 200 : Filter ([Filter])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createFilterV2Request JSON request body parameters
   */
  def createFilterV2(createFilterV2Request: CreateFilterV2Request
): Request[Either[ResponseException[String, Exception], Filter], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v2/filters")
      .contentType("application/json")
      .body(createFilterV2Request)
      .response(asJson[Filter])

  /**
   * Version history:  2.4.3 - added\\ 4.0.0 - deprecated. This method will delete only the FilterKeyword from its parent Filter. To delete the parent Filter, you must use the v2 filters API.
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteFilter(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/filters/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Delete a filter group with the given id.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteFilterV2(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v2/filters/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Deletes the given filter keyword.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteFiltersKeywordsByIdV2(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v2/filters/keywords/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Remove a status filter from the current filter group.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : FilterStatus ([FilterStatus])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteFiltersStatusesByIdV2(id: String
): Request[Either[ResponseException[String, Exception], FilterStatus], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v2/filters/statuses/${id}")
      .contentType("application/json")
      .response(asJson[FilterStatus])

  /**
   * Version history:  2.4.3 - added\\ 4.0.0 - deprecated. For compatibility purposes, now returns a V1::Filter representing one FilterKeyword (with the `keyword` being presented in the `phrase` attribute)
   * 
   * Expected answers:
   *   code 200 : V1Filter ([V1::Filter])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getFilter(id: String
): Request[Either[ResponseException[String, Exception], V1Filter], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/filters/${id}")
      .contentType("application/json")
      .response(asJson[V1Filter])

  /**
   * List all keywords attached to the current filter group.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[FilterKeyword] (Array of [FilterKeyword])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param filterId filter_id parameter
   */
  def getFilterKeywordsV2(filterId: String
): Request[Either[ResponseException[String, Exception], Seq[FilterKeyword]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/filters/${filterId}/keywords")
      .contentType("application/json")
      .response(asJson[Seq[FilterKeyword]])

  /**
   * Obtain a list of all status filters within this filter group.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[FilterStatus] (Array of [FilterStatus])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param filterId filter_id parameter
   */
  def getFilterStatusesV2(filterId: String
): Request[Either[ResponseException[String, Exception], Seq[FilterStatus]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/filters/${filterId}/statuses")
      .contentType("application/json")
      .response(asJson[Seq[FilterStatus]])

  /**
   * Obtain a single filter group owned by the current user.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Filter ([Filter])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getFilterV2(id: String
): Request[Either[ResponseException[String, Exception], Filter], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/filters/${id}")
      .contentType("application/json")
      .response(asJson[Filter])

  /**
   * Version history:  2.4.3 - added\\ 4.0.0 - deprecated. For compatibility purposes, now returns a List of V1::Filter, with each V1::Filter representing one FilterKeyword (with the `keyword` being presented in the `phrase` attribute)
   * 
   * Expected answers:
   *   code 200 : V1Filter (List of [V1::Filter])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getFilters(
): Request[Either[ResponseException[String, Exception], V1Filter], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/filters")
      .contentType("application/json")
      .response(asJson[V1Filter])

  /**
   * Get one filter keyword by the given id.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : FilterKeyword ([FilterKeyword])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getFiltersKeywordsByIdV2(id: String
): Request[Either[ResponseException[String, Exception], FilterKeyword], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/filters/keywords/${id}")
      .contentType("application/json")
      .response(asJson[FilterKeyword])

  /**
   * Obtain a single status filter.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : FilterStatus ([FilterStatus])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getFiltersStatusesByIdV2(id: String
): Request[Either[ResponseException[String, Exception], FilterStatus], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/filters/statuses/${id}")
      .contentType("application/json")
      .response(asJson[FilterStatus])

  /**
   * Obtain a list of all filter groups for the current user.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Filter] (Array of [Filter])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getFiltersV2(
): Request[Either[ResponseException[String, Exception], Seq[Filter]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/filters")
      .contentType("application/json")
      .response(asJson[Seq[Filter]])

  /**
   * Add the given keyword to the specified filter group  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : FilterKeyword ([FilterKeyword])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param filterId filter_id parameter
   * @param postFilterKeywordsV2Request JSON request body parameters
   */
  def postFilterKeywordsV2(filterId: String, postFilterKeywordsV2Request: PostFilterKeywordsV2Request
): Request[Either[ResponseException[String, Exception], FilterKeyword], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v2/filters/${filterId}/keywords")
      .contentType("application/json")
      .body(postFilterKeywordsV2Request)
      .response(asJson[FilterKeyword])

  /**
   * Add a status filter to the current filter group.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : FilterStatus ([FilterStatus])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param filterId filter_id parameter
   * @param postFilterStatusesV2Request JSON request body parameters
   */
  def postFilterStatusesV2(filterId: String, postFilterStatusesV2Request: PostFilterStatusesV2Request
): Request[Either[ResponseException[String, Exception], FilterStatus], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v2/filters/${filterId}/statuses")
      .contentType("application/json")
      .body(postFilterStatusesV2Request)
      .response(asJson[FilterStatus])

  /**
   * Replaces a filter's parameters in-place.  Version history:  2.4.3 - added\\ 3.1.0 - added `account` context to filter in profile views\\ 4.0.0 - deprecated. For compatibility purposes, now returns a V1::Filter representing one FilterKeyword (with the `keyword` being presented in the `phrase` attribute). This method will return an error if you attempt to change `expires_in`, `irreversible`, or `context` for a filter with multiple keywords. Changing `phrase` and `whole_word` is always safe.
   * 
   * Expected answers:
   *   code 200 : V1Filter ([V1::Filter])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param updateFilterRequest JSON request body parameters
   */
  def updateFilter(id: String, updateFilterRequest: UpdateFilterRequest
): Request[Either[ResponseException[String, Exception], V1Filter], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v1/filters/${id}")
      .contentType("application/json")
      .body(updateFilterRequest)
      .response(asJson[V1Filter])

  /**
   * Update a filter group with the given parameters.  Version history:  4.0.0 - added\\ 4.4.0 (`mastodon` [API version] 5) - added `blur` value to `filter_action` attribute
   * 
   * Expected answers:
   *   code 200 : Filter ([Filter])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param updateFilterV2Request JSON request body parameters
   */
  def updateFilterV2(id: String, updateFilterV2Request: Option[UpdateFilterV2Request] = None
): Request[Either[ResponseException[String, Exception], Filter], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v2/filters/${id}")
      .contentType("application/json")
      .bodyOpt(updateFilterV2Request)
      .response(asJson[Filter])

  /**
   * Update the given filter keyword.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : FilterKeyword ([FilterKeyword])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param postFilterKeywordsV2Request JSON request body parameters
   */
  def updateFiltersKeywordsByIdV2(id: String, postFilterKeywordsV2Request: PostFilterKeywordsV2Request
): Request[Either[ResponseException[String, Exception], FilterKeyword], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v2/filters/keywords/${id}")
      .contentType("application/json")
      .body(postFilterKeywordsV2Request)
      .response(asJson[FilterKeyword])

}
