/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Account
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.Relationship
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object FollowRequestsApi {

  /**
   * Version history:  0.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 40 accounts. Max 80 accounts.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getFollowRequests(limit: Option[Int] = None, maxId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/follow_requests?limit=${ limit }&max_id=${ maxId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Version history:  0.0.0 - added\\ 3.0.0 - now returns Relationship instead of nothing
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param accountId account_id parameter
   */
  def postFollowRequestAuthorize(accountId: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/follow_requests/${accountId}/authorize")
      .contentType("application/json")
      .response(asJson[Relationship])

  /**
   * Version history:  0.0.0 - added\\ 3.0.0 - now returns Relationship instead of nothing
   * 
   * Expected answers:
   *   code 200 : Relationship ([Relationship])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param accountId account_id parameter
   */
  def postFollowRequestReject(accountId: String
): Request[Either[ResponseException[String, Exception], Relationship], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/follow_requests/${accountId}/reject")
      .contentType("application/json")
      .response(asJson[Relationship])

}
