/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.DomainBlock
import com.github.unknownnpc.masscaladon.generated.model.Error
import com.github.unknownnpc.masscaladon.generated.model.ExtendedDescription
import com.github.unknownnpc.masscaladon.generated.model.GetInstanceActivity200ResponseInner
import com.github.unknownnpc.masscaladon.generated.model.Instance
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PrivacyPolicy
import com.github.unknownnpc.masscaladon.generated.model.Rule
import com.github.unknownnpc.masscaladon.generated.model.TermsOfService
import com.github.unknownnpc.masscaladon.generated.model.V1Instance
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object InstanceApi {

  /**
   * Obtain general information about the server. See [api/v2/instance]({{< relref \"methods/Instance#v2\">}}) instead.  Version history:  1.1.0 - added\\ 3.0.0 - requires user token if instance is in whitelist mode\\ 3.1.4 - added `invites_enabled` to response\\ 3.4.0 - added `rules`\\ 3.4.2 - added `configuration`\\ 4.0.0 - deprecated. added `configuration[accounts]`.
   * 
   * Expected answers:
   *   code 200 : V1Instance ([V1::Instance])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstance(
): Request[Either[ResponseException[String, Exception], V1Instance], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance")
      .contentType("application/json")
      .response(asJson[V1Instance])

  /**
   * Server activity over the last 3 months, binned weekly.  Version history:  2.1.2 - added\\ 3.0.0 - requires user token if server is in whitelist mode
   * 
   * Expected answers:
   *   code 200 : Seq[GetInstanceActivity200ResponseInner] (Array of Hash)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstanceActivity(
): Request[Either[ResponseException[String, Exception], Seq[GetInstanceActivity200ResponseInner]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/activity")
      .contentType("application/json")
      .response(asJson[Seq[GetInstanceActivity200ResponseInner]])

  /**
   * Obtain a list of domains that have been blocked.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[DomainBlock] (Array of [DomainBlock])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstanceDomainBlocks(
): Request[Either[ResponseException[String, Exception], Seq[DomainBlock]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/domain_blocks")
      .contentType("application/json")
      .response(asJson[Seq[DomainBlock]])

  /**
   * Obtain an extended description of this server.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : ExtendedDescription ([ExtendedDescription])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstanceExtendedDescription(
): Request[Either[ResponseException[String, Exception], ExtendedDescription], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/extended_description")
      .contentType("application/json")
      .response(asJson[ExtendedDescription])

  /**
   * Domains that this server is aware of.  Version history:  2.1.2 - added\\ 3.0.0 - requires user token if server is in whitelist mode
   * 
   * Expected answers:
   *   code 200 : Seq[String] (Array of String)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstancePeers(
): Request[Either[ResponseException[String, Exception], Seq[String]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/peers")
      .contentType("application/json")
      .response(asJson[Seq[String]])

  /**
   * Obtain the contents of this server's privacy policy.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : PrivacyPolicy ([PrivacyPolicy])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstancePrivacyPolicy(
): Request[Either[ResponseException[String, Exception], PrivacyPolicy], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/privacy_policy")
      .contentType("application/json")
      .response(asJson[PrivacyPolicy])

  /**
   * Rules that the users of this service should follow.  Version history:  3.4.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Rule] (Array of [Rule])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstanceRules(
): Request[Either[ResponseException[String, Exception], Seq[Rule]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/rules")
      .contentType("application/json")
      .response(asJson[Seq[Rule]])

  /**
   * Obtain the contents of this server's terms of service, if configured.  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 : TermsOfService ([TermsOfService])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstanceTermsOfService(
): Request[Either[ResponseException[String, Exception], TermsOfService], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/terms_of_service")
      .contentType("application/json")
      .response(asJson[TermsOfService])

  /**
   * Obtain the contents of this server's terms of service, for a specified date, if configured.  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 : TermsOfService ([TermsOfService])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param date date parameter
   */
  def getInstanceTermsOfServiceByDate(date: String
): Request[Either[ResponseException[String, Exception], TermsOfService], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/terms_of_service/${date}")
      .contentType("application/json")
      .response(asJson[TermsOfService])

  /**
   * Translation language pairs supported by the translation engine used by the server.  Version history:  4.2.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Object with source language codes as keys and arrays of target language codes as values.)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstanceTranslationLanguages(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/instance/translation_languages")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Obtain general information about the server.  Version history:  4.0.0 - added\\ 4.1.0 - added `configuration.urls.status`\\ 4.2.0 - added `registrations.url`\\ 4.3.0 - added `configuration.vapid.public_key`, `api_versions`, `configuration.accounts.max_pinned_statuses`, `icon`\\ 4.4.0 - added `configuration.urls.about`, `configuration.urls.privacy_policy`, `configuration.urls.terms_of_service`, `registrations.min_age`, `registrations.reason_required`, `configuration.limited_federation`\\ 4.6.0 - added `thumbnail.description`
   * 
   * Expected answers:
   *   code 200 : Instance ([Instance])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getInstanceV2(
): Request[Either[ResponseException[String, Exception], Instance], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/instance")
      .contentType("application/json")
      .response(asJson[Instance])

}
