/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Account
import com.github.unknownnpc.masscaladon.generated.model.CreateListRequest
import com.github.unknownnpc.masscaladon.generated.model.DeleteListAccountsRequest
import com.github.unknownnpc.masscaladon.generated.model.Error
import scala.collection.immutable.List
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PostListAccountsRequest
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object ListsApi {

  /**
   * Create a new list.  Version history:  2.1.0 - added\\ 3.3.0 - added `replies_policy`\\ 4.2.0 - added `exclusive`
   * 
   * Expected answers:
   *   code 200 : List[String] ([List])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createListRequest JSON request body parameters
   */
  def createList(createListRequest: CreateListRequest
): Request[Either[ResponseException[String, Exception], List[String]], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/lists")
      .contentType("application/json")
      .body(createListRequest)
      .response(asJson[List[String]])

  /**
   * Version history:  2.1.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteList(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/lists/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Remove accounts from the given list.  Version history:  2.1.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param deleteListAccountsRequest JSON request body parameters
   */
  def deleteListAccounts(id: String, deleteListAccountsRequest: DeleteListAccountsRequest
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/lists/${id}/accounts")
      .contentType("application/json")
      .body(deleteListAccountsRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Fetch the list with the given ID.  Version history:  2.1.0 - added
   * 
   * Expected answers:
   *   code 200 : List[String] ([List])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getList(id: String
): Request[Either[ResponseException[String, Exception], List[String]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/lists/${id}")
      .contentType("application/json")
      .response(asJson[List[String]])

  /**
   * Version history:  2.1.0 - added\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param limit Maximum number of results. Defaults to 40 accounts. Max 80 accounts. Set to 0 in order to get all accounts without pagination.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param minId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getListAccounts(id: String, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/lists/${id}/accounts?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Fetch all lists that the user owns.  Version history:  2.1.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[List[String]] (Array of [List])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getLists(
): Request[Either[ResponseException[String, Exception], Seq[List[String]]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/lists")
      .contentType("application/json")
      .response(asJson[Seq[List[String]]])

  /**
   * Add accounts to the given list. Note that the user must be following these accounts.  Version history:  2.1.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param postListAccountsRequest JSON request body parameters
   */
  def postListAccounts(id: String, postListAccountsRequest: PostListAccountsRequest
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/lists/${id}/accounts")
      .contentType("application/json")
      .body(postListAccountsRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Change the properties of a list.  Version history:  2.1.0 - added\\ 3.3.0 - added `replies_policy` 4.2.0 - added `exclusive`
   * 
   * Expected answers:
   *   code 200 : List[String] ([List])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param createListRequest JSON request body parameters
   */
  def updateList(id: String, createListRequest: CreateListRequest
): Request[Either[ResponseException[String, Exception], List[String]], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v1/lists/${id}")
      .contentType("application/json")
      .body(createListRequest)
      .response(asJson[List[String]])

}
