/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.CreateMarkerRequest
import com.github.unknownnpc.masscaladon.generated.model.Error
import com.github.unknownnpc.masscaladon.generated.model.FilterContextEnum._
import com.github.unknownnpc.masscaladon.generated.model.Marker
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object MarkersApi {

  /**
   * Save current position in timeline.  Version history:  3.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Map[String, Marker] (Hash of String (Enumerable, anyOf `home` or `notifications`) key and associated [Marker] value)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createMarkerRequest JSON request body parameters
   */
  def createMarker(createMarkerRequest: Option[CreateMarkerRequest] = None
): Request[Either[ResponseException[String, Exception], Map[String, Marker]], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/markers")
      .contentType("application/json")
      .bodyOpt(createMarkerRequest)
      .response(asJson[Map[String, Marker]])

  /**
   * Get current positions in timelines.  Version history:  3.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Map[String, Marker] (Hash of String (Enumerable, anyOf `home` or `notifications`) key and associated [Marker] value)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param timeline Specify the timeline(s) for which markers should be fetched. Possible values: `home`, `notifications`. If not provided, an empty object will be returned.
   */
  def getMarkers(timeline: Seq[FilterContextEnum]
): Request[Either[ResponseException[String, Exception], Map[String, Marker]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/markers?timeline=${ timeline }")
      .contentType("application/json")
      .response(asJson[Map[String, Marker]])

}
