/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.io.File
import com.github.unknownnpc.masscaladon.generated.model.MediaAttachment
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object MediaApi {

  /**
   * Creates an attachment to be used with a new status. This method will return after the full sized media is done processing.  Version history:  0.0.0 - added\\ 2.3.0 - add `focus` parameter\\ 3.1.3 - deprecated in favor of [POST /api/v2/media], which is equal to v1 in all aspects, except it returns HTTP 202, and the returned JSON object has a url of null. This is because while the thumbnail is prepared synchronously, the full version of the media attachment will be processed in the background.\\ 3.2.0 - add `thumbnail` parameter
   * 
   * Expected answers:
   *   code 200 : MediaAttachment ([MediaAttachment])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param file The file to be attached, encoded using multipart form data. The file must have a MIME type.
   * @param description A plain-text description of the media, for accessibility purposes.
   * @param focus Two floating points (x,y), comma-delimited, ranging from -1.0 to 1.0. See [Focal points for cropping media thumbnails] for more information.
   * @param thumbnail The custom thumbnail of the media to be attached, encoded using multipart form data.
   */
  def createMedia(file: File, description: Option[String] = None, focus: Option[String] = None, thumbnail: Option[File] = None
): Request[Either[ResponseException[String, Exception], MediaAttachment], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/media")
      .contentType("multipart/form-data")
      .multipartBody(Seq(
                Some(multipartFile("file", file))
, 
                description.map(multipart("description", _))
, 
                focus.map(multipart("focus", _))
, 
                thumbnail.map(multipartFile("thumbnail", _))

      ).flatten)
      .response(asJson[MediaAttachment])

  /**
   * Creates a media attachment to be used with a new status. The full sized media will be processed asynchronously in the background for large uploads.  Version history:  3.1.3 - added\\ 3.2.0 - add `thumbnail` parameter\\ 4.0.0 - Smaller media formats (image) will be processed synchronously and return 200 instead of 202. Larger media formats (video, gifv, audio) will continue to be processed asynchronously and return 202.
   * 
   * Expected answers:
   *   code 200 : MediaAttachment ([MediaAttachment], but without a URL)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 202 : MediaAttachment (Accepted)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 500 : Error (Server error)
   *   code 503 : Error (Unavailable)
   * 
   * @param file The file to be attached, encoded using multipart form data. The file must have a MIME type.
   * @param description A plain-text description of the media, for accessibility purposes.
   * @param focus Two floating points (x,y), comma-delimited, ranging from -1.0 to 1.0. See [Focal points for cropping media thumbnails] for more information.
   * @param thumbnail The custom thumbnail of the media to be attached, encoded using multipart form data.
   */
  def createMediaV2(file: File, description: Option[String] = None, focus: Option[String] = None, thumbnail: Option[File] = None
): Request[Either[ResponseException[String, Exception], MediaAttachment], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v2/media")
      .contentType("multipart/form-data")
      .multipartBody(Seq(
                Some(multipartFile("file", file))
, 
                description.map(multipart("description", _))
, 
                focus.map(multipart("focus", _))
, 
                thumbnail.map(multipartFile("thumbnail", _))

      ).flatten)
      .response(asJson[MediaAttachment])

  /**
   * Delete a media attachment that is not currently attached to a status.  Version history:  - 4.4.0 (`mastodon` [API version] 4) - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteMedia(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/media/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Get a media attachment, before it is attached to a status and posted, but after it is accepted for processing. Use this method to check that the full-sized media has finished processing.  Version history:  3.1.3 - added
   * 
   * Expected answers:
   *   code 200 : MediaAttachment ([MediaAttachment])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 206 :  (Partial content)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getMedia(id: String
): Request[Either[ResponseException[String, Exception], MediaAttachment], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/media/${id}")
      .contentType("application/json")
      .response(asJson[MediaAttachment])

  /**
   * Update a MediaAttachment's parameters, before it is attached to a status and posted.  Version history:  0.0.0 - added\\ 2.3.0 - add `focus` parameter\\ 3.2.0 - added `thumbnail`
   * 
   * Expected answers:
   *   code 200 : MediaAttachment ([MediaAttachment])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param description A plain-text description of the media, for accessibility purposes.
   * @param focus Two floating points (x,y), comma-delimited, ranging from -1.0 to 1.0. See [Focal points for cropping media thumbnails] for more information.
   * @param thumbnail The custom thumbnail of the media to be attached, encoded using multipart form data.
   */
  def updateMedia(id: String, description: Option[String] = None, focus: Option[String] = None, thumbnail: Option[File] = None
): Request[Either[ResponseException[String, Exception], MediaAttachment], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v1/media/${id}")
      .contentType("multipart/form-data")
      .multipartBody(Seq(
                description.map(multipart("description", _))
, 
                focus.map(multipart("focus", _))
, 
                thumbnail.map(multipartFile("thumbnail", _))

      ).flatten)
      .response(asJson[MediaAttachment])

}
