/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Account
import com.github.unknownnpc.masscaladon.generated.model.CountResponse
import com.github.unknownnpc.masscaladon.generated.model.Error
import com.github.unknownnpc.masscaladon.generated.model.GroupedNotificationsResults
import com.github.unknownnpc.masscaladon.generated.model.MergedResponse
import com.github.unknownnpc.masscaladon.generated.model.Notification
import com.github.unknownnpc.masscaladon.generated.model.NotificationPolicy
import com.github.unknownnpc.masscaladon.generated.model.NotificationRequest
import com.github.unknownnpc.masscaladon.generated.model.NotificationTypeEnum._
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object NotificationsApi {

  /**
   * Clear all notifications from the server.  Version history:  0.0.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def createNotificationClear(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/notifications/clear")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Accepts multiple notification requests, which merges the filtered notifications from those users back into the main notifications and accepts any future notification from them.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def createNotificationsRequestsAccept(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/notifications/requests/accept")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Dismiss multiple notification requests, which hides them and prevent them from contributing to the pending notification requests count.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def createNotificationsRequestsDismiss(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/notifications/requests/dismiss")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * View information about a notification with a given ID.  Version history:  0.0.0 - added\\ 4.6.0 (`mastodon` [API version] 10) - added `supported_types` optional parameter
   * 
   * Expected answers:
   *   code 200 : Notification ([Notification])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param supportedTypes Notification types to not get fallback representation for even when some is available. Passing this parameter is required to get any notification fallback at all. When this parameter is used, and a notification which type is *not* included in `supported_types` has an available fallback representation, it will be included in the notification's `fallback` attribute.
   */
  def getNotification(id: String, supportedTypes: Seq[String]
): Request[Either[ResponseException[String, Exception], Notification], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/notifications/${id}?supported_types=${ supportedTypes }")
      .contentType("application/json")
      .response(asJson[Notification])

  /**
   * Version history:  4.3.0 (`mastodon` [API version] 2) - added
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param groupKey group_key parameter
   */
  def getNotificationAccountsV2(groupKey: String
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/notifications/${groupKey}/accounts")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Notifications filtering policy for the user.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 : NotificationPolicy ([NotificationPolicy])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getNotificationPolicyV2(
): Request[Either[ResponseException[String, Exception], NotificationPolicy], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/notifications/policy")
      .contentType("application/json")
      .response(asJson[NotificationPolicy])

  /**
   * Notification requests for notifications filtered by the user's policy. This API returns Link headers containing links to the next/previous page.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[NotificationRequest] (Array of [NotificationRequest])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 40 notification requests. Max 80 notification requests.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   */
  def getNotificationRequests(limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[NotificationRequest]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/notifications/requests?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[NotificationRequest]])

  /**
   * Notifications concerning the user. This API returns Link headers containing links to the next/previous page. However, the links can also be constructed dynamically using query params and `id` values.  Version history:  0.0.0 - added\\ 2.6.0 - added `min_id`\\ 2.9.0 - added `account_id`\\ 3.1.0 - added `follow_request` type\\ 3.3.0 - added `status` type; both `min_id` and `max_id` can be used at the same time now\\ 3.5.0 - added `types`; add `update` and `admin.sign_up` types\\ 4.0.0 - added `admin.report` type\\ 4.1.0 - notification limit changed from 15 (max 30) to 40 (max 80)\\ 4.3.0 - added `include_filtered` parameter\\ 4.6.0 (`mastodon` [API version] 10) - added `supported_types` optional parameter
   * 
   * Expected answers:
   *   code 200 : Seq[Notification] (Array of [Notification])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param accountId Return only notifications received from the specified account.
   * @param excludeTypes Types to exclude from the results.
   * @param includeFiltered Whether to include notifications filtered by the user's [NotificationPolicy]. Defaults to false.
   * @param limit Maximum number of results to return. Defaults to 40 notifications. Max 80 notifications.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   * @param supportedTypes Notification types to not get fallback representation for even when some is available. Passing this parameter is required to get any notification fallback at all. When this parameter is used, and a notification which type is *not* included in `supported_types` has an available fallback representation, it will be included in the notification's `fallback` attribute.
   * @param types Types to include in the result.
   */
  def getNotifications(accountId: Option[String] = None, excludeTypes: Seq[NotificationTypeEnum], includeFiltered: Option[Boolean] = None, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None, supportedTypes: Seq[String], types: Seq[NotificationTypeEnum]
): Request[Either[ResponseException[String, Exception], Seq[Notification]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/notifications?account_id=${ accountId }&exclude_types=${ excludeTypes }&include_filtered=${ includeFiltered }&limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }&supported_types=${ supportedTypes }&types=${ types }")
      .contentType("application/json")
      .response(asJson[Seq[Notification]])

  /**
   * View information about a specific notification group with a given group key.  Version history:  4.3.0 (`mastodon` [API version] 2) - added\\ 4.6.0 (`mastodon` [API version] 10) - added `supported_types` optional parameter
   * 
   * Expected answers:
   *   code 200 : GroupedNotificationsResults ([GroupedNotificationsResults])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param groupKey group_key parameter
   * @param supportedTypes Notification types to not get fallback representation for even when some is available. Passing this parameter is required to get any notification fallback at all. When this parameter is used, and a notification which type is *not* included in `supported_types` has an available fallback representation, it will be included in the notification group's `fallback` attribute.
   */
  def getNotificationsByGroupKeyV2(groupKey: String, supportedTypes: Seq[String]
): Request[Either[ResponseException[String, Exception], GroupedNotificationsResults], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/notifications/${groupKey}?supported_types=${ supportedTypes }")
      .contentType("application/json")
      .response(asJson[GroupedNotificationsResults])

  /**
   * View information about a notification request with a given ID.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 : NotificationRequest ([NotificationRequest])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getNotificationsRequestsById(id: String
): Request[Either[ResponseException[String, Exception], NotificationRequest], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/notifications/requests/${id}")
      .contentType("application/json")
      .response(asJson[NotificationRequest])

  /**
   * Check whether accepted notification requests have been merged.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 : MergedResponse (Hash with a single boolean attribute `merged`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getNotificationsRequestsMerged(
): Request[Either[ResponseException[String, Exception], MergedResponse], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/notifications/requests/merged")
      .contentType("application/json")
      .response(asJson[MergedResponse])

  /**
   * Get the (capped) number of unread notifications for the current user.
   * 
   * Expected answers:
   *   code 200 : CountResponse (Hash with a single key of `count`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param accountId Only count unread notifications received from the specified account.
   * @param excludeTypes Types of notifications that should not count towards unread notifications.
   * @param limit Maximum number of results to return. Defaults to 100 notifications. Max 1000 notifications.
   * @param types Types of notifications that should count towards unread notifications.
   */
  def getNotificationsUnreadCount(accountId: Option[String] = None, excludeTypes: Seq[String], limit: Option[Int] = None, types: Seq[String]
): Request[Either[ResponseException[String, Exception], CountResponse], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/notifications/unread_count?account_id=${ accountId }&exclude_types=${ excludeTypes }&limit=${ limit }&types=${ types }")
      .contentType("application/json")
      .response(asJson[CountResponse])

  /**
   * Get the (capped) number of unread notification groups for the current user.
   * 
   * Expected answers:
   *   code 200 : CountResponse (Hash with a single key of `count`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param accountId Only count unread notifications received from the specified account.
   * @param excludeTypes Types of notifications that should not count towards unread notifications.
   * @param groupedTypes Restrict which notification types can be grouped. Use this if there are notification types for which your client does not support grouping. If omitted, the server will group notifications of all types it supports (currently, `favourite`, `follow` and `reblog`). If you do not want any notification grouping, use [GET `/api/v1/notifications/unread_count`] instead.
   * @param limit Maximum number of results to return. Defaults to 100 notifications. Max 1000 notifications.
   * @param types Types of notifications that should count towards unread notifications.
   */
  def getNotificationsUnreadCountV2(accountId: Option[String] = None, excludeTypes: Seq[String], groupedTypes: Seq[String], limit: Option[Int] = None, types: Seq[String]
): Request[Either[ResponseException[String, Exception], CountResponse], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/notifications/unread_count?account_id=${ accountId }&exclude_types=${ excludeTypes }&grouped_types=${ groupedTypes }&limit=${ limit }&types=${ types }")
      .contentType("application/json")
      .response(asJson[CountResponse])

  /**
   * Return grouped notifications concerning the user. This API returns Link headers containing links to the next/previous page. However, the links can also be constructed dynamically using query params and `id` values.  Version history:  4.3.0 (`mastodon` [API version] 2) - added\\ 4.4.0 - added `admin.sign_up` to grouped notification types\\ 4.6.0 (`mastodon` [API version] 10) - added `supported_types` optional parameter
   * 
   * Expected answers:
   *   code 200 : GroupedNotificationsResults ([GroupedNotificationsResults])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param accountId Return only notifications received from the specified account.
   * @param excludeTypes Types to exclude from the results.
   * @param expandAccounts One of `full` (default) or `partial_avatars`. When set to `partial_avatars`, some accounts will not be rendered in full in the returned `accounts` list but will be instead returned in stripped-down form in the `partial_accounts` list. The most recent account in a notification group is always rendered in full in the `accounts` attribute.
   * @param groupedTypes Restrict which notification types can be grouped. Use this if there are notification types for which your client does not support grouping. If omitted, the server will group notifications of all types it supports (currently, `favourite`, `follow`, `reblog` and `admin.sign_up`). If you do not want any notification grouping, use [GET `/api/v1/notifications`] instead. Notifications that would be grouped if not for this parameter will instead be returned as individual single-notification groups with a unique `group_key` that can be assumed to be of the form `ungrouped-{notification_id}`. Please note that neither the streaming API nor the individual notification APIs are aware of this parameter and will always include a “proper” `group_key` that can be different from what is returned here, meaning that you may have to ignore `group_key` for such notifications that you do not want grouped and use `ungrouped-{notification_id}` instead for consistency.
   * @param includeFiltered Whether to include notifications filtered by the user's [NotificationPolicy]. Defaults to false.
   * @param limit Maximum number of results to return. Defaults to 40 notifications. Max 80 notification groups.
   * @param maxId All results returned will be about notifications strictly older than this notification ID. In effect, sets an upper bound on results.
   * @param minId Returns results about notifications immediately newer than this notification ID. In effect, sets a cursor at this ID and paginates forward.
   * @param sinceId All results returned will be about notifications strictly newer than this notification ID. In effect, sets a lower bound on results.
   * @param supportedTypes Notification types to not get fallback representation for even when some is available. Passing this parameter is required to get any notification fallback at all. When this parameter is used, and a notification which type is *not* included in `supported_types` has an available fallback representation, it will be included in the notification group's `fallback` attribute.
   * @param types Types to include in the result.
   */
  def getNotificationsV2(accountId: Option[String] = None, excludeTypes: Seq[NotificationTypeEnum], expandAccounts: Option[String] = None, groupedTypes: Seq[NotificationTypeEnum], includeFiltered: Option[Boolean] = None, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None, supportedTypes: Seq[String], types: Seq[NotificationTypeEnum]
): Request[Either[ResponseException[String, Exception], GroupedNotificationsResults], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/notifications?account_id=${ accountId }&exclude_types=${ excludeTypes }&expand_accounts=${ expandAccounts }&grouped_types=${ groupedTypes }&include_filtered=${ includeFiltered }&limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }&supported_types=${ supportedTypes }&types=${ types }")
      .contentType("application/json")
      .response(asJson[GroupedNotificationsResults])

  /**
   * Update the user's notifications filtering policy.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 : NotificationPolicy ([NotificationPolicy])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def patchNotificationPolicyV2(
): Request[Either[ResponseException[String, Exception], NotificationPolicy], Any] =
    basicRequest
      .method(Method.PATCH, uri"/api/v2/notifications/policy")
      .contentType("application/json")
      .response(asJson[NotificationPolicy])

  /**
   * Dismiss a single notification from the server.  Version history:  1.3.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postNotificationDismiss(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/notifications/${id}/dismiss")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Dismiss a single notification group from the server.  Version history:  4.3.0 (`mastodon` [API version] 2) - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param groupKey group_key parameter
   */
  def postNotificationDismissV2(groupKey: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v2/notifications/${groupKey}/dismiss")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Accept a notification request, which merges the filtered notifications from that user back into the main notification and accepts any future notification from them.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postNotificationsRequestsByIdAccept(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/notifications/requests/${id}/accept")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Dismiss a notification request, which hides it and prevent it from contributing to the pending notification requests count.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postNotificationsRequestsByIdDismiss(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/notifications/requests/${id}/dismiss")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

}
