/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PostOauthRevokeRequest
import com.github.unknownnpc.masscaladon.generated.model.PostOauthTokenRequest
import com.github.unknownnpc.masscaladon.generated.model.Token
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object OauthApi {

  /**
   * Displays an authorization form to the user. If approved, it will create and return an authorization code, then redirect to the desired `redirect_uri`, or show the authorization code if `urn:ietf:wg:oauth:2.0:oob` was requested. The authorization code can be used while requesting a token to obtain access to user-level methods.  Version history:  0.1.0 - added\\ 2.6.0 - added `force_login`\\ 3.5.0 - added `lang`\\ 4.3.0 - added support for PKCE parameters
   * 
   * Expected answers:
   *   code 200 :  (String (URL) or HTML response)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 400 : Error (Client error)
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param clientId The client ID, obtained during app registration.
   * @param redirectUri Set a URI to redirect the user to. If this parameter is set to `urn:ietf:wg:oauth:2.0:oob` then the authorization code will be shown instead. Must match one of the `redirect_uris` declared during app registration.
   * @param responseType Should be set equal to `code`.
   * @param codeChallenge The [PKCE code challenge] for the authorization request.
   * @param codeChallengeMethod Must be `S256`, as this is the only code challenge method that is supported by Mastodon for PKCE.
   * @param forceLogin Forces the user to re-login, which is necessary for authorizing with multiple accounts from the same instance.
   * @param lang The ISO 639-1 two-letter language code to use while rendering the authorization form.
   * @param scope List of requested [OAuth scopes], separated by spaces (or by pluses, if using query parameters). Must be a subset of `scopes` declared during app registration. If not provided, defaults to `read`.
   * @param state Arbitrary value to pass through to your server when the user authorizes or rejects the authorization request.
   */
  def getOauthAuthorize(clientId: String, redirectUri: String, responseType: String, codeChallenge: Option[String] = None, codeChallengeMethod: Option[String] = None, forceLogin: Option[Boolean] = None, lang: Option[String] = None, scope: Option[String] = None, state: Option[String] = None
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/oauth/authorize?client_id=${ clientId }&redirect_uri=${ redirectUri }&response_type=${ responseType }&code_challenge=${ codeChallenge }&code_challenge_method=${ codeChallengeMethod }&force_login=${ forceLogin }&lang=${ lang }&scope=${ scope }&state=${ state }")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Retrieves standardised OIDC [claims](https://www.iana.org/assignments/jwt/jwt.xhtml#claims) about the currently authenticated user.\\  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 :  (OK)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getOauthUserinfo(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/oauth/userinfo")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Revoke an access token to make it no longer valid for use.  Version history:  0.1.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param postOauthRevokeRequest JSON request body parameters
   */
  def postOauthRevoke(postOauthRevokeRequest: PostOauthRevokeRequest
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"/oauth/revoke")
      .contentType("application/json")
      .body(postOauthRevokeRequest)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Obtain an access token, to be used during API calls that are not public.  Version history:  0.1.0 - added\\ 4.3.0 - added support for PKCE parameter
   * 
   * Expected answers:
   *   code 200 : Token ([Token])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 400 : Error (Client error)
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param postOauthTokenRequest JSON request body parameters
   */
  def postOauthToken(postOauthTokenRequest: PostOauthTokenRequest
): Request[Either[ResponseException[String, Exception], Token], Any] =
    basicRequest
      .method(Method.POST, uri"/oauth/token")
      .contentType("application/json")
      .body(postOauthTokenRequest)
      .response(asJson[Token])

}
