/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.Poll
import com.github.unknownnpc.masscaladon.generated.model.PostPollVotesRequest
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object PollsApi {

  /**
   * View a poll attached to a status.  Version history:  2.8.0 - added
   * 
   * Expected answers:
   *   code 200 : Poll ([Poll])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getPoll(id: String
): Request[Either[ResponseException[String, Exception], Poll], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/polls/${id}")
      .contentType("application/json")
      .response(asJson[Poll])

  /**
   * Vote on a poll attached to a status.  Version history:  2.8.0 - added
   * 
   * Expected answers:
   *   code 200 : Poll ([Poll])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param postPollVotesRequest JSON request body parameters
   */
  def postPollVotes(id: String, postPollVotesRequest: PostPollVotesRequest
): Request[Either[ResponseException[String, Exception], Poll], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/polls/${id}/votes")
      .contentType("application/json")
      .body(postPollVotesRequest)
      .response(asJson[Poll])

}
