/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.CredentialAccount
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PatchProfileRequest
import com.github.unknownnpc.masscaladon.generated.model.Profile
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object ProfileApi {

  /**
   * Version history:  4.2.0 - added  Deletes the avatar associated with the user's profile.
   * 
   * Expected answers:
   *   code 200 : CredentialAccount ([CredentialAccount])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def deleteAvatar(
): Request[Either[ResponseException[String, Exception], CredentialAccount], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/profile/avatar")
      .contentType("application/json")
      .response(asJson[CredentialAccount])

  /**
   * Version history:  4.2.0 - added  Deletes the header image associated with the user's profile.
   * 
   * Expected answers:
   *   code 200 : CredentialAccount ([CredentialAccount])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def deleteProfileHeader(
): Request[Either[ResponseException[String, Exception], CredentialAccount], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/profile/header")
      .contentType("application/json")
      .response(asJson[CredentialAccount])

  /**
   * Version history:  4.6.0 (`mastodon` [API version] 8) - added\\ 4.6.0 (`mastodon` [API version] 9) - added `avatar_description` and `header_description`
   * 
   * Expected answers:
   *   code 200 : Profile ([Profile])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getProfile(
): Request[Either[ResponseException[String, Exception], Profile], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/profile")
      .contentType("application/json")
      .response(asJson[Profile])

  /**
   * Update the current user's profile.  Version history:  4.6.0 (`mastodon` [API version] 8) - added
   * 
   * Expected answers:
   *   code 200 : Profile ([Profile])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param patchProfileRequest JSON request body parameters
   */
  def patchProfile(patchProfileRequest: Option[PatchProfileRequest] = None
): Request[Either[ResponseException[String, Exception], Profile], Any] =
    basicRequest
      .method(Method.PATCH, uri"/api/v1/profile")
      .contentType("application/json")
      .bodyOpt(patchProfileRequest)
      .response(asJson[Profile])

}
