/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.CreatePushSubscriptionRequest
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PutPushSubscriptionRequest
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.model.WebPushSubscription
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object PushApi {

  /**
   * Add a Web Push API subscription to receive notifications. Each access token can have one push subscription. If you create a new subscription, the old subscription is deleted.  Version history:  2.4.0 - added\\ 3.3.0 - added `data[alerts][status]`\\ 3.4.0 - added `data[policy]`\\ 3.5.0 - added `data[alerts][update]` and `data[alerts][admin.sign_up]`\\ 4.0.0 - added `data[alerts][admin.report]`\\ 4.3.0 - added stricter request parameter validation, invalid endpoint URLs and subscription keys will now result in an error, previously these would be accepted, but silently fail.\\ 4.4.0 - added `subscription[standard]`\\ 4.5.0 (`mastodon` [API version] 7)- added `data[alerts][quote]` and `data[alerts][quoted_update]`
   * 
   * Expected answers:
   *   code 200 : WebPushSubscription ([WebPushSubscription])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createPushSubscriptionRequest JSON request body parameters
   */
  def createPushSubscription(createPushSubscriptionRequest: CreatePushSubscriptionRequest
): Request[Either[ResponseException[String, Exception], WebPushSubscription], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/push/subscription")
      .contentType("application/json")
      .body(createPushSubscriptionRequest)
      .response(asJson[WebPushSubscription])

  /**
   * Removes the current Web Push API subscription.  Version history:  2.4.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def deletePushSubscription(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/push/subscription")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * View the PushSubscription currently associated with this access token.  Version history:  2.4.0 - added
   * 
   * Expected answers:
   *   code 200 : WebPushSubscription ([WebPushSubscription])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getPushSubscription(
): Request[Either[ResponseException[String, Exception], WebPushSubscription], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/push/subscription")
      .contentType("application/json")
      .response(asJson[WebPushSubscription])

  /**
   * Updates the current push subscription. Only the data part can be updated. To change fundamentals, a new subscription must be created instead.  Version history:  2.4.0 - added\\ 3.3.0 - added `data[alerts][status]`\\ 3.4.0 - added `policy`\\ 3.5.0 - added `data[alerts][update]` and `data[alerts][admin.sign_up]`\\ 4.0.0 - added `data[alerts][admin.report]`
   * 
   * Expected answers:
   *   code 200 : WebPushSubscription ([WebPushSubscription])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param putPushSubscriptionRequest JSON request body parameters
   */
  def putPushSubscription(putPushSubscriptionRequest: Option[PutPushSubscriptionRequest] = None
): Request[Either[ResponseException[String, Exception], WebPushSubscription], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v1/push/subscription")
      .contentType("application/json")
      .bodyOpt(putPushSubscriptionRequest)
      .response(asJson[WebPushSubscription])

}
