/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ScheduledStatus
import com.github.unknownnpc.masscaladon.generated.model.UpdateScheduledStatusRequest
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object ScheduledStatusesApi {

  /**
   * Version history:  2.7.0 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def deleteScheduledStatus(id: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/scheduled_statuses/${id}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Version history:  2.7.0 - added
   * 
   * Expected answers:
   *   code 200 : ScheduledStatus ([ScheduledStatus])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getScheduledStatus(id: String
): Request[Either[ResponseException[String, Exception], ScheduledStatus], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/scheduled_statuses/${id}")
      .contentType("application/json")
      .response(asJson[ScheduledStatus])

  /**
   * Version history:  2.7.0 - added\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now
   * 
   * Expected answers:
   *   code 200 : Seq[ScheduledStatus] (Array of [ScheduledStatus])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   */
  def getScheduledStatuses(limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[ScheduledStatus]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/scheduled_statuses?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[ScheduledStatus]])

  /**
   * Version history:  2.7.0 - added
   * 
   * Expected answers:
   *   code 200 : ScheduledStatus ([ScheduledStatus])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param updateScheduledStatusRequest JSON request body parameters
   */
  def updateScheduledStatus(id: String, updateScheduledStatusRequest: Option[UpdateScheduledStatusRequest] = None
): Request[Either[ResponseException[String, Exception], ScheduledStatus], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v1/scheduled_statuses/${id}")
      .contentType("application/json")
      .bodyOpt(updateScheduledStatusRequest)
      .response(asJson[ScheduledStatus])

}
