/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.Search
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object SearchApi {

  /**
   * Perform a search for content in accounts, statuses and hashtags with the given parameters. Note that the availability of results depends on the specific backend search configuration of the server being queried. By default, accounts and hashtags are always searchable, while statuses depend on an ElasticSearch backend being present and the API request being authenticated (full text search is not available to unauthenticated users).  Version history:  2.4.1 - added, limit hardcoded to 5\\ 2.8.0 - add `type`, `limit`, `offset`, `min_id`, `max_id`, `account_id`\\ 3.0.0 - add `exclude_unreviewed` param\\ 3.3.0 - `min_id` and `max_id` can be used together\\ 4.0.0 - no longer requires a user token. Without a valid user token, you cannot use the `resolve` or `offset` parameters.
   * 
   * Expected answers:
   *   code 200 : Search ([Search])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param `q` The search query.
   * @param accountId If provided, will only return statuses authored by this account.
   * @param excludeUnreviewed Filter out unreviewed tags? Defaults to false. Use true when trying to find trending tags.
   * @param following Only include accounts that the user is following? Defaults to false.
   * @param limit Maximum number of results to return, per type. Defaults to 20 results per category. Max 40 results per category.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param offset Skip the first n results. Only applies when `type` is also present (ignored otherwise).
   * @param resolve Only relevant if `type` includes `accounts` or if `q` is a HTTPS URL. In the first case, if `true` and (a) the search query is for a remote account (e.g., `someaccount@someother.server`) and (b) the local server does not know about the account, [WebFinger] is used to try and resolve the account at `someother.server`. This provides the best recall at higher latency. If `false`, only accounts the server knows about are returned. In the second case, if `true`, resolving the URL and returning the matching status, account or Collection is attempted. If `false`, this resolving logic is circumvented and a regular search is performed instead.
   * @param `type` Specify whether to search for only `accounts`, `hashtags`, `statuses`
   */
  def getSearchV2(`q`: String, accountId: Option[String] = None, excludeUnreviewed: Option[Boolean] = None, following: Option[Boolean] = None, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, offset: Option[Int] = None, resolve: Option[Boolean] = None, `type`: Option[String] = None
): Request[Either[ResponseException[String, Exception], Search], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/search?q=${ `q` }&account_id=${ accountId }&exclude_unreviewed=${ excludeUnreviewed }&following=${ following }&limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&offset=${ offset }&resolve=${ resolve }&type=${ `type` }")
      .contentType("application/json")
      .response(asJson[Search])

}
