/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Account
import com.github.unknownnpc.masscaladon.generated.model.Context
import com.github.unknownnpc.masscaladon.generated.model.CreateStatus200Response
import com.github.unknownnpc.masscaladon.generated.model.CreateStatusRequest
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.PostStatusReblogRequest
import com.github.unknownnpc.masscaladon.generated.model.PostStatusTranslateRequest
import com.github.unknownnpc.masscaladon.generated.model.Status
import com.github.unknownnpc.masscaladon.generated.model.StatusEdit
import com.github.unknownnpc.masscaladon.generated.model.StatusSource
import com.github.unknownnpc.masscaladon.generated.model.Translation
import com.github.unknownnpc.masscaladon.generated.model.UpdateStatusInteractionPolicyRequest
import com.github.unknownnpc.masscaladon.generated.model.UpdateStatusRequest
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object StatusesApi {

  /**
   * Publish a status with the given parameters.  Version history:  0.0.0 - added\\ 2.7.0 - `scheduled_at` added\\ 2.8.0 - `poll` added\\ 4.5.0 (`mastodon` [API version] 7) - `quoted_status_id` and `quote_approval_policy` added
   * 
   * Expected answers:
   *   code 200 : CreateStatus200Response ([Status]. When `scheduled_at` is present, [ScheduledStatus] is returned instead.)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param createStatusRequest JSON request body parameters for creating a status. Different types of statuses have different requirements.
   * @param idempotencyKey Provide this header with any arbitrary string to prevent duplicate submissions of the same status. Consider using a hash or UUID generated client-side. Idempotency keys are stored for up to 1 hour.
   */
  def createStatus(createStatusRequest: CreateStatusRequest, idempotencyKey: Option[io.circe.Json] = None
): Request[Either[ResponseException[String, Exception], CreateStatus200Response], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses")
      .contentType("application/json")
      .header("Idempotency-Key", idempotencyKey.toString)
      .body(createStatusRequest)
      .response(asJson[CreateStatus200Response])

  /**
   * Delete one of your own statuses.  Version history:  0.0.0 - added\\ 2.9.0 - return source properties, for use with delete and redraft\\ 4.4.0 (`mastodon` [API version] 4) - added `delete_media` optional parameter
   * 
   * Expected answers:
   *   code 200 : Status ([Status] with source `text` and `poll` or `media_attachments`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param deleteMedia Whether to immediately delete the post's media attachments. If omitted or `false`, media attachments may be kept for approximately 24 hours so they can be re-used in a new post.
   */
  def deleteStatus(id: String, deleteMedia: Option[Boolean] = None
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/statuses/${id}?delete_media=${ deleteMedia }")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Obtain information about a status.  Version history:  0.0.0 - added\\ 2.7.0 - public statuses no longer require token
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getStatus(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/statuses/${id}")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * View statuses above and below this status in the thread.  Version history:  0.0.0 - added\\ 4.0.0 - limit unauthenticated requests\\ 4.5.0 - added experimental `Mastodon-Async-Refresh` header
   * 
   * Expected answers:
   *   code 200 : Context ([Context])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Mastodon-Async-Refresh - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getStatusContext(id: String
): Request[Either[ResponseException[String, Exception], Context], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/statuses/${id}/context")
      .contentType("application/json")
      .response(asJson[Context])

  /**
   * View who favourited a given status.  Version history:  0.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param limit Maximum number of results to return. Defaults to 40 accounts. Max 80 accounts.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getStatusFavouritedBy(id: String, limit: Option[Int] = None, maxId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/statuses/${id}/favourited_by?limit=${ limit }&max_id=${ maxId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Get all known versions of a status, including the initial and current states.  Version history:  3.5.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[StatusEdit] (Array of [StatusEdit])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getStatusHistory(id: String
): Request[Either[ResponseException[String, Exception], Seq[StatusEdit]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/statuses/${id}/history")
      .contentType("application/json")
      .response(asJson[Seq[StatusEdit]])

  /**
   * View quotes of a status.  Version history:  4.5.0 (`mastodon` [API version] 7) - added
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getStatusQuotes(id: String, limit: Option[Int] = None, maxId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/statuses/${id}/quotes?limit=${ limit }&max_id=${ maxId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * View who boosted a given status.  Version history:  0.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param limit Maximum number of results to return. Defaults to 40 accounts. Max 80 accounts.
   * @param maxId Internal parameter. Use HTTP `Link` header for pagination.
   * @param sinceId Internal parameter. Use HTTP `Link` header for pagination.
   */
  def getStatusRebloggedBy(id: String, limit: Option[Int] = None, maxId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/statuses/${id}/reblogged_by?limit=${ limit }&max_id=${ maxId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Obtain the source properties for a status so that it can be edited.  Version history:  3.5.0 - added
   * 
   * Expected answers:
   *   code 200 : StatusSource ([StatusSource])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def getStatusSource(id: String
): Request[Either[ResponseException[String, Exception], StatusSource], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/statuses/${id}/source")
      .contentType("application/json")
      .response(asJson[StatusSource])

  /**
   * Obtain information about multiple statuses.  Version history:  4.3.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id The IDs of the Statuses in the database.
   */
  def getStatuses(id: Seq[String]
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/statuses?id=${ id }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * Privately bookmark a status.  Version history:  3.1.0 - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusBookmark(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/bookmark")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Add a status to your favourites list.  Version history:  0.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusFavourite(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/favourite")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Do not receive notifications for the thread that this status is part of. Must be a thread in which you are a participant.  Version history:  1.4.2 - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusMute(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/mute")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Feature one of your own public statuses at the top of your profile.  Version history:  1.6.0 - added\\ 3.5.0 - you can now pin private posts
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusPin(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/pin")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Reshare a status on your own profile.  Version history:  0.0.0 - added\\ 2.8.0 - add `visibility` parameter
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param postStatusReblogRequest JSON request body parameters
   */
  def postStatusReblog(id: String, postStatusReblogRequest: Option[PostStatusReblogRequest] = None
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/reblog")
      .contentType("application/json")
      .bodyOpt(postStatusReblogRequest)
      .response(asJson[Status])

  /**
   * Translate the status content into some language. Only statuses with Public and Unlisted visibility can be translated.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Translation ([Translation])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Service unavailable)
   * 
   * @param id id parameter
   * @param postStatusTranslateRequest JSON request body parameters
   */
  def postStatusTranslate(id: String, postStatusTranslateRequest: Option[PostStatusTranslateRequest] = None
): Request[Either[ResponseException[String, Exception], Translation], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/translate")
      .contentType("application/json")
      .bodyOpt(postStatusTranslateRequest)
      .response(asJson[Translation])

  /**
   * Remove a status from your private bookmarks.  Version history:  3.1.0 - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusUnbookmark(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/unbookmark")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Remove a status from your favourites list.  Version history:  0.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusUnfavourite(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/unfavourite")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Start receiving notifications again for the thread that this status is part of.  Version history:  1.4.2 - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusUnmute(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/unmute")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Unfeature a status from the top of your profile.  Version history:  1.6.0 - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusUnpin(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/unpin")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Undo a reshare of a status.  Version history:  0.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postStatusUnreblog(id: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/unreblog")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Revoke quote authorization of status `quoting_status_id`, detaching status `id`.  Version history:  4.5.0 (`mastodon` [API version] 7) - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 403 : Error (Forbidden)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param quotingStatusId quoting_status_id parameter
   */
  def postStatusesByIdQuotesByQuotingStatusIdRevoke(id: String, quotingStatusId: String
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/statuses/${id}/quotes/${quotingStatusId}/revoke")
      .contentType("application/json")
      .response(asJson[Status])

  /**
   * Edit a given status to change its text, sensitivity, media attachments, or poll. Notes:  Version history:  3.5.0 - added\\ 4.0.0 - add `language`\\ 4.5.0 (`mastodon` [API version] 7) - add `quote_approval_policy`
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param updateStatusRequest JSON request body parameters
   */
  def updateStatus(id: String, updateStatusRequest: Option[UpdateStatusRequest] = None
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v1/statuses/${id}")
      .contentType("application/json")
      .bodyOpt(updateStatusRequest)
      .response(asJson[Status])

  /**
   * Edit a given status to change its interaction policies. Currently, this means changing its quote approval policy.  Version history:  4.5.0 (`mastodon` [API version] 7) - added
   * 
   * Expected answers:
   *   code 200 : Status ([Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   * @param updateStatusInteractionPolicyRequest JSON request body parameters
   */
  def updateStatusInteractionPolicy(id: String, updateStatusInteractionPolicyRequest: Option[UpdateStatusInteractionPolicyRequest] = None
): Request[Either[ResponseException[String, Exception], Status], Any] =
    basicRequest
      .method(Method.PUT, uri"/api/v1/statuses/${id}/interaction_policy")
      .contentType("application/json")
      .bodyOpt(updateStatusInteractionPolicyRequest)
      .response(asJson[Status])

}
