/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object StreamingApi {

  /**
   * Returns events for received direct messages.  Version history:  2.4.0 - added\\ 2.6.0 - now returns `conversation` instead of `update`
   * 
   * Expected answers:
   *   code 200 :  (`conversation`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getStreamingDirect(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/direct")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns all public statuses for a particular hashtag  Version history:  1.0.0 - added\\ 3.5.0 - now returns `status.update`\\ 4.2.0 - changed to require a User token, removing Public and App token access [#23989]
   * 
   * Expected answers:
   *   code 200 :  (`update`, `delete`, `status.update`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param tag The name of the hashtag to watch.
   */
  def getStreamingHashtag(tag: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/hashtag?tag=${ tag }")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns all local public statuses for a particular hashtag  Version history:  1.1.0 - added\\ 3.5.0 - now returns `status.update`\\ 4.2.0 - changed to require a User token, removing Public and App token access [#23989]
   * 
   * Expected answers:
   *   code 200 :  (`update`, `delete`, `status.update`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param tag The name of the hashtag to watch.
   */
  def getStreamingHashtagLocal(tag: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/hashtag/local?tag=${ tag }")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Verify that the streaming service is alive before connecting to it  Version history:  2.5.0 - added
   * 
   * Expected answers:
   *   code 200 :  (String)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getStreamingHealth(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/health")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns statuses for a list  Version history:  2.1.0 - added\\ 3.5.0 - now returns `status.update`\\ 4.2.0 - changed to require a User token, removing Public and App token access [#23989]
   * 
   * Expected answers:
   *   code 200 :  (`update`, `delete`, `status.update`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param list The ID of the list to watch.
   */
  def getStreamingList(list: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/list?list=${ list }")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns all public statuses  Version history:  1.0.0 - added\\ 2.4.0 - add `only_media` parameter\\ 3.5.0 - now returns `status.update`\\ 4.2.0 - changed to require a User token, removing Public and App token access [#23989]
   * 
   * Expected answers:
   *   code 200 :  (`update`, `delete`, `status.update`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param onlyMedia If true, return only statuses with media attachments.
   */
  def getStreamingPublic(onlyMedia: Option[Boolean] = None
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/public?only_media=${ onlyMedia }")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns all local public statuses  Version history:  1.1.0 - added\\ 2.4.0 - add `only_media` parameter\\ 3.5.0 - now returns `status.update`\\ 4.2.0 - changed to require a User token, removing Public and App token access [#23989]
   * 
   * Expected answers:
   *   code 200 :  (`update`, `delete`, `status.update`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param onlyMedia If true, return only statuses with media attachments.
   */
  def getStreamingPublicLocal(onlyMedia: Option[Boolean] = None
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/public/local?only_media=${ onlyMedia }")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns all public statuses from remote servers.  Version history:  3.1.4 - added\\ 3.5.0 - now returns `status.update`\\ 4.2.0 - changed to require a User token, removing Public and App token access [#23989]
   * 
   * Expected answers:
   *   code 200 :  (`update`, `delete`, `status.update`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param onlyMedia If true, return only statuses with media attachments.
   */
  def getStreamingPublicRemote(onlyMedia: Option[Boolean] = None
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/public/remote?only_media=${ onlyMedia }")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns events that are relevant to the authorized user, i.e. home timeline and notifications  Version history:  1.0.0 - added\\ 1.4.2 - now returns `notification`\\ 2.4.3 - now returns `filters_changed`\\ 3.1.0 - now returns `announcement`, `announcement.reaction`, `announcement.delete`\\ 3.5.0 - now returns `status.update`
   * 
   * Expected answers:
   *   code 200 :  (`update`, `delete`, `notification`, `filters_changed`, `announcement`, `announcement.reaction`, `announcement.delete`, `status.update`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getStreamingUser(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/user")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns events for received notifications  Version history:  1.4.2 - added
   * 
   * Expected answers:
   *   code 200 :  (`notification`)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   */
  def getStreamingUserNotification(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/streaming/user/notification")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

}
