/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Account
import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.Suggestion
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object SuggestionsApi {

  /**
   * Remove an account from follow suggestions.  Version history:  2.4.3 - added
   * 
   * Expected answers:
   *   code 200 :  (Empty)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param accountId account_id parameter
   */
  def deleteSuggestionsByAccountId(accountId: String
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.DELETE, uri"/api/v1/suggestions/${accountId}")
      .contentType("application/json")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Accounts the user has had past positive interactions with, but is not yet following.  Version history:  2.4.3 - added\\ 3.4.0 - deprecated
   * 
   * Expected answers:
   *   code 200 : Seq[Account] (Array of [Account])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 40 accounts. Max 80 accounts.
   */
  def getSuggestions(limit: Option[Int] = None
): Request[Either[ResponseException[String, Exception], Seq[Account]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/suggestions?limit=${ limit }")
      .contentType("application/json")
      .response(asJson[Seq[Account]])

  /**
   * Accounts that are promoted by staff, or that the user has had past positive interactions with, but is not yet following.  Version history:  3.4.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Suggestion] (Array of [Suggestion])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 40 accounts. Max 80 accounts.
   */
  def getSuggestionsV2(limit: Option[Int] = None
): Request[Either[ResponseException[String, Exception], Seq[Suggestion]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v2/suggestions?limit=${ limit }")
      .contentType("application/json")
      .response(asJson[Seq[Suggestion]])

}
