/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.Tag
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object TagsApi {

  /**
   * Show a hashtag and its associated information  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Tag ([Tag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param name name parameter
   */
  def getTagsByName(name: String
): Request[Either[ResponseException[String, Exception], Tag], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/tags/${name}")
      .contentType("application/json")
      .response(asJson[Tag])

  /**
   * Feature the hashtag on your profile.  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 : Tag ([Tag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postTagFeature(id: String
): Request[Either[ResponseException[String, Exception], Tag], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/tags/${id}/feature")
      .contentType("application/json")
      .response(asJson[Tag])

  /**
   * Follow a hashtag. Posts containing a followed hashtag will be inserted into your home timeline.  Version history:  4.0.0 - added\\ 4.1.0 - this action is now idempotent
   * 
   * Expected answers:
   *   code 200 : Tag ([Tag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : Error (Unprocessable entity)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param name name parameter
   */
  def postTagFollow(name: String
): Request[Either[ResponseException[String, Exception], Tag], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/tags/${name}/follow")
      .contentType("application/json")
      .response(asJson[Tag])

  /**
   * Stop featuring the hashtag on your profile.  Version history:  4.4.0 - added
   * 
   * Expected answers:
   *   code 200 : Tag ([Tag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param id id parameter
   */
  def postTagUnfeature(id: String
): Request[Either[ResponseException[String, Exception], Tag], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/tags/${id}/unfeature")
      .contentType("application/json")
      .response(asJson[Tag])

  /**
   * Unfollow a hashtag. Posts containing this hashtag will no longer be inserted into your home timeline.  Version history:  4.0.0 - added
   * 
   * Expected answers:
   *   code 200 : Tag ([Tag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param name name parameter
   */
  def postTagUnfollow(name: String
): Request[Either[ResponseException[String, Exception], Tag], Any] =
    basicRequest
      .method(Method.POST, uri"/api/v1/tags/${name}/unfollow")
      .contentType("application/json")
      .response(asJson[Tag])

}
