/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.Status
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object TimelinesApi {

  /**
   * View statuses with a \"direct\" privacy, from your account or in your notifications.  Version history:  x.x.x - added\\ 2.6.0 - add `min_id`. deprecated in favor of [Conversations API]\\ 3.0.0 - removed
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   */
  def getTimelineDirect(limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/timelines/direct?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * View statuses from followed users and hashtags.  Version history:  0.0.0 - added\\ 2.6.0 - add `min_id`\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now\\ 4.0.0 - as users can now follow hashtags, statuses from non-followed users may appear in the timeline
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 206 :  (Partial content)
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   */
  def getTimelineHome(limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/timelines/home?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * View public statuses containing a link to the specified currently-trending article. This only lists statuses from people who have opted in to discoverability features.  Version history:  4.3.0 - added\\ 4.5.0 - add [access control settings]
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param url The URL of the trending article.
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   */
  def getTimelineLink(url: String, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/timelines/link?url=${ url }&limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * View public statuses.  Version history:  0.0.0 - added\\ 2.3.0 - added `only_media`\\ 2.6.0 - add `min_id`\\ 3.0.0 - auth is required if public preview is disabled\\ 3.1.4 - added `remote`\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now\\ 4.5.0 - add [access control settings]
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param local Show only local statuses? Defaults to false.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param onlyMedia Show only statuses with media attached? Defaults to false.
   * @param remote Show only remote statuses? Defaults to false.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   */
  def getTimelinePublic(limit: Option[Int] = None, local: Option[Boolean] = None, maxId: Option[String] = None, minId: Option[String] = None, onlyMedia: Option[Boolean] = None, remote: Option[Boolean] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/timelines/public?limit=${ limit }&local=${ local }&max_id=${ maxId }&min_id=${ minId }&only_media=${ onlyMedia }&remote=${ remote }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * View statuses in the given list timeline.  Version history:  2.1.0 - added\\ 2.6.0 - add `min_id`\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param listId list_id parameter
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   */
  def getTimelinesListByListId(listId: String, limit: Option[Int] = None, maxId: Option[String] = None, minId: Option[String] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/timelines/list/${listId}?limit=${ limit }&max_id=${ maxId }&min_id=${ minId }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * View public statuses containing the given hashtag.  Version history:  0.0.0 - added\\ 2.3.0 - added `only_media`\\ 2.6.0 - add `min_id`\\ 2.7.0 - add `any[]`, `all[]`, `none[]` for additional tags\\ 3.0.0 - auth is required if public preview is disabled\\ 3.3.0 - both `min_id` and `max_id` can be used at the same time now. add `remote`\\ 4.5.0 - add [access control settings]
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *                Link - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param hashtag hashtag parameter
   * @param all Return statuses that contain all of these additional tags.
   * @param any Return statuses that contain any of these additional tags.
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param local Return only local statuses? Defaults to false.
   * @param maxId All results returned will be lesser than this ID. In effect, sets an upper bound on results.
   * @param minId Returns results immediately newer than this ID. In effect, sets a cursor at this ID and paginates forward.
   * @param none Return statuses that contain none of these additional tags.
   * @param onlyMedia Return only statuses with media attachments? Defaults to false.
   * @param remote Return only remote statuses? Defaults to false.
   * @param sinceId All results returned will be greater than this ID. In effect, sets a lower bound on results.
   */
  def getTimelinesTagByHashtag(hashtag: String, all: Seq[String], any: Seq[String], limit: Option[Int] = None, local: Option[Boolean] = None, maxId: Option[String] = None, minId: Option[String] = None, none: Seq[String], onlyMedia: Option[Boolean] = None, remote: Option[Boolean] = None, sinceId: Option[String] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/timelines/tag/${hashtag}?all=${ all }&any=${ any }&limit=${ limit }&local=${ local }&max_id=${ maxId }&min_id=${ minId }&none=${ none }&only_media=${ onlyMedia }&remote=${ remote }&since_id=${ sinceId }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

}
