/**
 * Mastodon API
 * Unofficial documentation for the Mastodon API. Generated with [mastodon-openapi](https://github.com/abraham/mastodon-openapi) from [960eeb0](https://github.com/mastodon/documentation/commit/960eeb05f61209f2f7e8e97456239a3a8e143c6f). Targets [supported](https://github.com/mastodon/mastodon/security/policy#supported-versions) Mastodon versions.
 *
 * The version of the OpenAPI document: 4.6.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.github.unknownnpc.masscaladon.generated.api

import com.github.unknownnpc.masscaladon.generated.model.Error
import java.time.OffsetDateTime
import com.github.unknownnpc.masscaladon.generated.model.Status
import com.github.unknownnpc.masscaladon.generated.model.Tag
import com.github.unknownnpc.masscaladon.generated.model.TrendsLink
import com.github.unknownnpc.masscaladon.generated.model.ValidationError
import com.github.unknownnpc.masscaladon.generated.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object TrendsApi {

  /**
   * Links that have been shared more than others.  Version history:  3.5.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[TrendsLink] (Array of [Trends::Link])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 10 links. Max 20 links.
   * @param offset Skip the first n results.
   */
  def getTrendLinks(limit: Option[Int] = None, offset: Option[Int] = None
): Request[Either[ResponseException[String, Exception], Seq[TrendsLink]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/trends/links?limit=${ limit }&offset=${ offset }")
      .contentType("application/json")
      .response(asJson[Seq[TrendsLink]])

  /**
   * Statuses that have been interacted with more than others.  Version history:  3.5.0 - added
   * 
   * Expected answers:
   *   code 200 : Seq[Status] (Array of [Status])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 20 statuses. Max 40 statuses.
   * @param offset Skip the first n results.
   */
  def getTrendStatuses(limit: Option[Int] = None, offset: Option[Int] = None
): Request[Either[ResponseException[String, Exception], Seq[Status]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/trends/statuses?limit=${ limit }&offset=${ offset }")
      .contentType("application/json")
      .response(asJson[Seq[Status]])

  /**
   * Tags that are being used more frequently within the past week.  Version history:  3.0.0 - added\\ 3.5.0 - method signature changed from `GET /api/v1/trends` to `GET /api/v1/trends/tags`. The former is a deprecated alias that may be removed in the future.
   * 
   * Expected answers:
   *   code 200 : Seq[Tag] (Array of [Tag])
   *              Headers :
   *                X-RateLimit-Limit - 
   *                X-RateLimit-Remaining - 
   *                X-RateLimit-Reset - 
   *   code 401 : Error (Unauthorized)
   *   code 404 : Error (Not Found)
   *   code 410 :  (Gone)
   *   code 422 : ValidationError (Unprocessable Content)
   *   code 429 : Error (Too Many Requests)
   *   code 503 : Error (Unavailable)
   * 
   * @param limit Maximum number of results to return. Defaults to 10 tags. Max 20 tags.
   * @param offset Skip the first n results.
   */
  def getTrendTags(limit: Option[Int] = None, offset: Option[Int] = None
): Request[Either[ResponseException[String, Exception], Seq[Tag]], Any] =
    basicRequest
      .method(Method.GET, uri"/api/v1/trends/tags?limit=${ limit }&offset=${ offset }")
      .contentType("application/json")
      .response(asJson[Seq[Tag]])

}
